body{
    margin: 0;
    padding: 0;
}

html, body{
    box-sizing: border-box;
}

.nav{
    margin: auto;
    width: 80%;
    height: 10vh;
    background-color: #FF742B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-box{
    display: flex;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.logo-name{
    cursor: pointer;
    margin: 5px 0 0 5px;
    color: #ffffff;
}

.search-area{
    display: flex;
    flex-basis: 75%;
    justify-content: center;
    height: 70%;
}

.search-area-sub{
    display: flex;
    width: 75%;
    background-color: #ffffff;
}

.search-area i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    color: #FF742B;
}

.search-area-sub input[type=text]{
    margin-left: 10px;
    border: 0px solid;
    width: 100%;
    height: 95%;
}

.algolia-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.algolia-box img{
    cursor: pointer;
    margin-left: 10px;
    width: 55px;
    height: 55px;
}

.fa-sliders-h{
    cursor: pointer;
    color: #ffffff;
    transform: rotate(90deg);
    font-size: 20px;
}

    /* Menubar completed */


.result-analysis{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 80%;
    background-color: #fdfdfd;
}

.button-list{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.result-analysis-button{
    height: 25px;
    background-color: #ffffff;
    border: 1px solid #9D9D9D;
    border-radius: 2px;
    color: #5c5c5c;
}

.fa-share-alt{
    cursor: pointer;
    margin-right: 30px;
    color: #9D9D9D;
}


.content{
    margin: auto;
    width: 80%;
}

.articles{
    padding: 20px;
    border: 1px solid #eeeeee;
    background-color: #f6f6ef;
}

.footer{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 25px auto;
}

.footer-button{
    cursor: pointer;
    background-color: #ffffff;
    height: 25px;
    width: 35px;
    margin: 5px;
    border: 1px solid #9D9D9D;
    border-radius: 3px;
    color: #9D9D9D;
}

.footer-2{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 10px auto;
}

.footer-content{
    font-size: .9em;
    margin: 5px;
}

